.btn{
    font-size: 1rem;
    padding: 0.6rem 3rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form input{
    font-size: 1rem;
    padding: 2.5vh 4vw 2.5vh 1vw;
    margin: 1rem;
    border-radius: 10px;
}


@media screen and (max-width:400px) {
    .model{
        position: absolute;
        inset: 40px;
        border-radius: 15px;
        padding: 6vh 18vw;
        width: 40vw !important;
    }

    .btn{
        margin: 4vh 0;
    }
}