
.heading{
    display: flex;
    justify-content: center;
    margin-top: 16vh;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

i{
    display: flex !important;
    border: 1.4px solid;
    border-radius: 50%;
    width: 11px;
    height: 13px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.action{
    display: flex;
    justify-content: space-evenly;
    margin: 6vh 0px;
}

.card{
    width: 16vw;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 4vh;
    margin: 0 1vw;
}

.date{
    display: flex;
    justify-content: center;
}

.btn{
    font-size: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    margin: auto;
    border: 1px solid;
}

.btn:hover{
    background-color: white;
    color: black;
}

#i1:hover{
    background-color: green;
}

#i2:hover{
    background-color: red;
}

#i3:hover{
    background-color: lightslategray;
}

@media only screen and (max-width:480px) {
    .container{
        flex-wrap: wrap;
    }

    .card{
        width: 30vw;
        margin: 3vh 0;
    }

    .Toastify__toast-container{
        width: 77vw ;
        padding: 0;
        margin: 0;
        right: 0 ;
    }

    
}